* {
  box-sizing: border-box;
}

body
{
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.user-container
{
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 80vw;
  overflow: auto;
}

.user-container:hover
{
  cursor: pointer;
}

.user-image
{
  border-radius: 50%;
  border: 0.1px solid lightgray;
  margin-left: 10px;
}

.celeb-name
{
  display: flex;
  margin-left: 20px;
}

.celeb-name > h5
{
  margin: 2px;
  font-size: 19px;
}

.material-symbols-outlined {
  margin-left: auto;
  margin-right: 10px;
  color: black;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

.expanded-user-container
{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 80vw;
  overflow: auto;
}

/* .expanded-user-container:hover
{
  cursor: pointer;
} */

.top-line
{
  display: flex;
  align-items: center;
  margin: 10px;
}

h5.expanded-name
{
  font-size: 27px;
}

.general-details
{
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  margin: 20px;
  /* width: 100%; */
}

.age-container
{
  margin-right: 60px;
}

.gender-container
{
  margin-right: 60px;
}

.country-container
{
  margin-right: 60px;
}

.general-details  p
{
  font-weight: 550;
}

.gen-head
{
  color: rgb(145, 137, 137);
  font-size: 20px;
}

.description-container
{
  margin: 0px 20px;
}

p:last-child
{
  font-weight: 600;
  font-size: 17px;
}

.user-options
{
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 30px 30px 20px 0px;
}

.delete-container
{
  margin-right: 30px;
}

.delete-container:hover
{
  cursor: pointer;
}

.edit-container:hover
{
  cursor: pointer;
}

.not-adult
{
  cursor: not-allowed;
}

.not-adult:hover
{
  cursor: not-allowed;
}

.bi-trash3
{
  fill: red;
  width: 28px;
  height: 28px;
}

.bi-pencil
{
  fill: blue;
  width: 26px;
  height: 26px;
}

.delete-dialogue-box-container
{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 10px;
}

.delete-dialogue-box-container > p
{
  font-weight: 500;
  font-size: 18px;
}

.delete-buttons-container
{
  margin: 5px;
  margin-top: 30px;
  align-self: flex-end;
}

.cancel-delete-button
{
  border: none;
  width: 110px;
  height: 40px;
  margin: 5px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgb(172, 160, 160);
  font-size: 16px;
  text-align: center;
}

.cancel-delete-button:hover
{
  cursor: pointer;
}

.delete-button
{
  border: none;
  width: 110px;
  height: 40px;
  margin: 5px;
  border-radius: 12px;
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
}

.delete-button:hover
{
  cursor: pointer;
}

#name
{
  border: 1px solid rgb(155, 155, 252);
  font-size: 30px;
  border-radius: 12px;
  width: 150px;
  font-weight: 500;
  outline: none;
  /* text-align: center; */
  padding: 7px 7px;
  overflow: auto;
  margin-right: auto;
}

#age
{
  border: 1px solid rgb(155, 155, 252);
  font-size: 20px;
  border-radius: 12px;
  width: 100px;
  font-weight: 500;
  outline: none;
  /* text-align: center; */
  padding: 5px 5px;
  overflow: auto;
  /* margin-right: 60px; */
}

#age:hover
{
  cursor: pointer;
}

#gender-dropdown
{
  border: 1px solid rgb(155, 155, 252);
  font-size: 20px;
  border-radius: 12px;
  width: 150px;
  font-weight: 500;
  outline: none;
  /* text-align: center; */
  padding: 5px 5px;
  overflow: auto;
}

#gender-dropdown:hover
{
  cursor: pointer;
}

option:hover
{
  cursor: pointer;
}

#country
{
  border: 1px solid rgb(155, 155, 252);
  font-size: 20px;
  border-radius: 12px;
  width: 200px;
  font-weight: 500;
  outline: none;
  /* text-align: center; */
  padding: 5px 5px;
  overflow: auto;
}

#description
{
  border: 1px solid rgb(155, 155, 252);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 12px;
  resize: none;
  font-weight: 500;
  outline: none;
  /* text-align: center; */
  padding: 5px 5px;
  overflow: auto;
  margin-right: 20px;
}

.confirm-edit-container
{
  display: flex;
  justify-content: flex-end;
}

.cancel-edit-button
{
  width: 32px;
  height: 32px;
  margin: 15px;
}

.cancel-edit-button:hover
{
  cursor: pointer;
}

.confirm-edit-button
{
  width: 32px;
  height: 32px;
  margin: 15px;
}

.confirm-edit-button:hover
{
  cursor: pointer;
}
